.submitBtn {
    margin-top: 10px;
}

h2 {
    margin-top: 0;
    color: #002984;
    font-family: 'Coiny', cursive;
}

.loginErrorMsg {
    color: red;
}

.forgotPW {
    text-align: left;
}

.loginContainer {
    margin-top: 90px;
}


