.brand-logo {
    color: white;
    font-family: 'Righteous', cursive;
}

.brand-logo-title {
    margin-top: 3px;
    font-size: 60px;
}

.nav-wrapper {
    margin-bottom: 35px;
    background-color: #01A9DA;
    height: 70px !important;
}

.navLinks {
    font-size: 20px;
    height: 70px;
}