.brand-logo {
    color: white;
    font-family: 'Righteous', cursive;
}

.brand-logo-title {
    margin-top: 3px;
    font-size: 60px;
}

nav {
    height: 70px;
	box-shadow: none;
}

.nav-wrapper {
    margin-bottom: 25px;
    background-color: #01A9DA;
}

.navLinks {
    font-size: 20px;
    height: 70px;
}