.App {
  text-align: center;
  margin: 0px;
}

body {
  background-color: #5ddef4;
}

h1 {
  color: white;
  font-family: 'Coiny', cursive;
}

.formContainer {
  display: flex; 
  justify-content: center;
}

form {
  background-color: #fafafa;
  padding: 45px;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inputStyle {
  background-color: white !important;
  border-radius: 5px !important;
  padding: 5px !important;
  border: none !important;
}

.inputStyle:focus {
  border: none !important;
}





